</head>
<body>
<nav>
  <a href="/" id="home-button"><i class="fas fa-warehouse fa-3x"></i>
    <h1> 
      Inventory Master
    </h1>
  </a>
  
  <a 
  href="/inventories" 
  class=<%= title === 'Inventories' ? 'active' : '' %>
  >
  Inventories
  </a>
  <% if (user) { %>
    <a 
    href="/users/<%= user._id %>"
    class=<%= title === 'My Inventories' ? 'active' : '' %>
    >
    <%= user.username %>'s Profile
    </a>
    <a href="/auth/sign-out">Sign out</a>
  <% } else { %>
    <a 
    href="/auth/sign-up"
    class=<%= title === 'Sign up' ? 'active' : '' %>
    >
    Sign up
    </a>
    <a 
    href="/auth/sign-in"
    class=<%= title === 'Sign in' ? 'active' : '' %>
    >
    Sign in
  </a>
  <% } %>
</nav>