<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="bg-blur">
  <section>
    <h1><%= title %></h1>
    <% if (inventory.managers.includes(user?._id) || inventory.owner.equals(user?._id)) { %>
      <form action="/inventories/<%= inventory._id %>/items/<%= item._id %>?_method=PUT" method="post">
        <% if (inventory.owner.equals(user?._id)) { %>
          <label>
            Item Name:
            <input type="text" name="name" value="<%= item.name %>">
          </label>
          <label>
            Brand:
            <input type="text" name="brand" value="<%= item.brand %>">
          </label>
        <% } else if (inventory.managers.includes(user?._id)) { %>
          <label>
            Item Name:
            <input type="text" name="name" value="<%= item.name %>" disabled>
          </label>
          <label>
            Brand:
            <input type="text" name="brand" value="<%= item.brand %>" disabled>
          </label>  
        <% } %>
        <label>
          Quantity:
          <input type="number" name="quantity" value="<%= item.quantity %>">
        </label>
        <label>
          Unit:
          <select name="unit" >
            <option selected value="<%= item.unit %>"><%= item.unit %></option>
            <option value="count(s)">count(s)</option>
            <option value="lb(s)">lb(s)</option>
            <option value="ltr(s)">ltr(s)</option>
          </select>
        </label>
        <label>
          Threshold:
          <input type="number" name="threshold" value="<%= item.threshold %>">
        </label>
        <label>
          Utility:
          <input type="range" name="utility" min="1" max="10" value="<%= item.utility %>">
        </label>
        <button type="submit">
          Update
        </button>
      </form>
    <% } %>
    <% if (inventory.managers.includes(user?._id)) { %>
      <h2>Suggest Removal of Item from Inventory</h2>
      <form action="/inventories/<%= inventory._id %>/suggestions" method="post">
        <input type="hidden" name="type" value="Remove">
        <input type="hidden" name="itemId" value="<%= item._id %>">
        <label>
          Comment:
          <textarea name="comment" placeholder="Add comments for item removal" rows="3" cols="50"></textarea>
        </label>
        <button type="submit">Send Suggestion</button>
      </form>
    <% } %>
    <% if (origin === "shoppingList") { %>
      <a href="/users/<%= user._id %>/shoppingList">
        <button class="edit-button">
          <span><i class="fa-solid fa-left-long fa-3x"></i></span>
        </button>
      </a>
    <% } else { %>
      <a href="/inventories/<%= inventory._id %>">
        <button class="edit-button">
          <i class="fa-solid fa-left-long fa-2x"></i>
        </button>
      </a>
    <% } %>
  </section>
</main>

<%- include('../partials/footer') %>