<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div class="card-container">
    <% inventoriesToShow.forEach(inventory => { %>
      <a class="text-decoration-none" href="/inventories/<%= inventory._id %>">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"><%= inventory.name %></h2>
            <p>owned by</p>
            <h3><%= inventory.owner.username %></h3>
          </div>
        </div>
      </a>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>
