<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="bg-blur">
  <section class="inventories">
    <div class="title">
      <h1><%= title %></h1>
    </div>
    <div class="card-container">
      <% inventoriesToShow.forEach(inventory => { %>
        <a class="text-decoration-none" href="/inventories/<%= inventory._id %>">
          <div class="card">
            <div class="card-body">
              <h2 class="card-data"><%= inventory.name %></h2>
              <p>owned by</p>
              <h3 class="card-data"><%= inventory.owner.username %></h3>
            </div>
          </div>
        </a>
      <% }) %>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
