<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="bg-blur">
  <section>
    <h1><%= title %></h1>
    <% if (inventory.owner.equals(user?._id)) { %>
      <form action="/inventories/<%= inventory._id %>/items" method="post">
        <label>
          Item Name:
          <input type="text" name="name" placeholder="Add Item Name">
        </label>
        <label>
          Brand:
          <input type="text" name="brand" placeholder="Brand Name">
        </label>
        <label>
          Quantity:
          <input type="number" name="quantity" placeholder="Numerical Qty">
        </label>
        <label>
          Unit:
          <select name="unit" >
            <option disabled selected value="count(s)">Select Qty unit</option>
            <option value="count(s)">count(s)</option>
            <option value="lb(s)">lb(s)</option>
            <option value="ltr(s)">ltr(s)</option>
          </select>
        </label>
        <label>
          Threshold:
          <input type="number" name="threshold" placeholder="Req'd Min. Qty.">
        </label>
        <label>
          Utility:
          <input type="range" name="utility" min="1" max="10" value="3">
        </label>
        <button type="submit">Add Item</button>
      </form>
    <% } %>
  </section>
</main>

<%- include('../partials/footer') %>