<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
  <main>
    <h1><%= inventory.name %> Inventory</h1>
    <h2><%= inventory.owner.username %></h2>
    <div class="card-container">
      <% inventory.items.forEach(item => { %>
          <div class="card">
            <div class="card-body">
              <h2><%= item.quantity %> <%= item.unit %> <%= item.brand %></h2>
              <h1 class="card-title inline"><%= item.name %> </h1>
              <h2 class="inline">with Utility: <%= item.utility %></h2>
            </div>
          </div>
        </a>
      <% }) %>
    </div>
  </main>
<%- include('../partials/footer') %>