<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
  <main>
    <h1><%= inventory.name %> Inventory</h1>
    <h2>Owner: <%= inventory.owner.username %></h2>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Brand</th>
          <th>Quantity</th>
          <th>unit</th>
          <th>
            <% if (sortInventory) { %>
              <a href="/inventories/<%= inventory._id %>">Utility</a>
            <% } else { %>
              <a href="/inventories/<%= inventory._id %>?sort=true">Utility</a>
            <% } %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% sortInventory ? inventory.items.sort((a, b) => a.utility - b.utility) : inventory.items.sort((a, b) => b.utility - a.utility)%>
        <% inventory.items.forEach(item => { %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.brand%></td>
            <td><%= item.quantity %></td>
            <td><%= item.unit %></td>
            <td><%= item.utility %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <% if (inventory.owner.equals(user?._id)) { %>
      <a href="/inventories/<%= inventory._id %>/items/new"><button>Add Item</button></a><br>
      <h2>Managers</h2>
      <% inventory.managers.forEach(manager => { %>
        <h3>
        <%= manager.username %>
        </h3>
      <% }) %>
      <form action="/inventories/<%= inventory._id %>/managers" method="post">
        <select name="managerId" >
          <% otherUsers.forEach(u => { %>
            <option value="<%= u._id %>"><%= u.username%></option>
          <% }) %>
        </select>
        <button type="submit">Add as a Manager</button>
      </form>
    <% } %>
  </main>
<%- include('../partials/footer') %>