<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
  <main
  class="bg-blur">
    <section class="inventory">
    <h1><%= inventory.name %> Inventory</h1>
    <h3>(Owner: <%= inventory.owner.username %>)</h3>
    <% if (isAuthorizedUser) { %>
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Brand</th>
            <th>Qty.(unit)</th>
            <th>
              <% if (sortInventory) { %>
                <a href="/inventories/<%= inventory._id %>">Utility</a>
              <% } else { %>
                <a href="/inventories/<%= inventory._id %>?sort=true">Utility</a>
              <% } %>
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% sortInventory ? inventory.items.sort((a, b) => a.utility - b.utility) : inventory.items.sort((a, b) => b.utility - a.utility)%>
          <% inventory.items.forEach(item => { %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.brand%></td>
              <td><%= item.quantity %> (<%= item.unit %>)</td>
              <td><%= item.utility %></td>
              <td>
                <a href="/inventories/<%= inventory._id %>/items/<%= item._id %>/edit">
                  <button class="edit-button">
                    <i class="fa-solid fa-pen-to-square fa-2x"></i>
                  </button>
                </a>
                <% if (isOwner) { %>
                  <form class="inline" action="/inventories/<%= inventory._id %>/items/<%= item._id %>?_method=DELETE" method="POST">
                    <button class="remove-button" type="submit">
                      <i class="fa-solid fa-trash-can fa-2x"></i>
                    </button>
                  </form>
                <% } %>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <% if (!isOwner) { %>
        <div>
          <a href="/inventories/<%= inventory._id %>/suggestions"><button>Suggestions</button></a>
        </div>
      <% } else { %>
        <div class="action-btns">
          <a href="/inventories/<%= inventory._id %>/items/new">
            <button class="add-object">
              Add Item
            </button>
          </a>
          <div>
            <form action="/inventories/<%= inventory._id %>/toggle-view?_method=PATCH" method="POST">
              <button type="submit">Make it <%= alterView %></button>
            </form>
          </div>
          <a href="/inventories/<%= inventory._id %>/suggestions"><button>Suggestions</button></a>
        </div>
        <h2>
          <i class="fa-solid fa-people-roof fa-2x"></i>
          Managers
        </h2>
        <div class="card-container">
          <% inventory.managers.forEach(manager => { %>
            <div class="card card-holder manager-card-holder">
              <div class="card-body">
                <div class="card">
                  <div class="card-body manager-card">
                    <h3 ><i class="fa-solid fa-user-tie"></i></h3>
                    <h3 ><%= manager.username %></h3>
                  </div>
                </div>
              </div>
              <form action="/inventories/<%= inventory._id %>/managers/<%= manager._id %>?_method=DELETE" method="POST">
                <button class="remove-button" type="submit">
                  <i class="fa-solid fa-user-xmark "></i>
                </button>
              </form>
            </div>
          <% }) %>
        </div>
        <form action="/inventories/<%= inventory._id %>/managers" method="post">
          <select name="managerId">
            <% otherUsers.forEach(u => { %>
              <option value="<%= u._id %>"><%= u.username%></option>
            <% }) %>
          </select>
          <button class="add-button" type="submit">
            <i class="fa-solid fa-square-plus fa-2x"></i>
          </button>
        </form><br>
        
      <% } %>
    <% } else { %>
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Brand</th>
            <th>Qty.(unit)</th>
            <th>
              <% if (sortInventory) { %>
                <a href="/inventories/<%= inventory._id %>">Utility</a>
              <% } else { %>
                <a href="/inventories/<%= inventory._id %>?sort=true">Utility</a>
              <% } %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% sortInventory ? inventory.items.sort((a, b) => a.utility - b.utility) : inventory.items.sort((a, b) => b.utility - a.utility)%>
          <% inventory.items.forEach(item => { %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.brand%></td>
              <td><%= item.quantity %> (<%= item.unit %>)</td>
              <td><%= item.utility %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } %>
    </section>  
  </main>
<%- include('../partials/footer') %>