<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% if (suggestion.author.equals(user?._id) && !isStatusUpdated) { %>
    <form action="/inventories/<%= inventory._id %>/suggestions/<%= suggestion._id %>/update?_method=PUT" method="post">
      <label>
        Suggested By: 
        <input 
        type="text" 
        name="author" 
        disabled 
        value="You"
        >
      </label>
      <div class="radio-input">
        <label><input type="radio" class="radio-btn" name="type" value="<%= suggestion.type %>" checked> <%= suggestion.type %></label>
        <label><input type="radio" class="radio-btn" name="type" value="<%= altSuggestionType %>"> <%= altSuggestionType %></label>
      </div>
      <label>
        Item Name:
        <input type="text" name="item.name" value="<%= suggestion.item.name %>">
      </label>
      <label>
        Brand:
        <input type="text" name="item.brand" value="<%= suggestion.item.brand %>">
      </label>
      <label>
        Quantity:
        <input type="number" name="item.quantity" value="<%= suggestion.item.quantity %>">
      </label>
      <label>
        Unit:
        <select name="item.unit" >
          <option selected disabled value="<%= suggestion.item.unit %>"><%= suggestion.item.unit %></option>
          <option value="count(s)">count(s)</option>
          <option value="lb(s)">lb(s)</option>
          <option value="ltr(s)">ltr(s)</option>
        </select>
      </label>
      <label>
        Utility:
        <input type="range" name="item.utility" min="1" max="10" <%= suggestion.item.utility %>>
      </label>
      <label>
        Comment:
        <textarea name="comment" ><%= suggestion.comment %></textarea>
      </label>
      <label>Status: <input type="text" name="" value="<%= suggestion.status %>" disabled></label>        
      <button type="submit" >Update</button>
    </form>
    <a href="/inventories/<%= inventory._id %>/suggestions"><button>Back</button></a>
  <% } else { %>
    <label>
      Suggested By: 
      <input 
      type="text" 
      name="author" 
      disabled 
      value="<%= suggestion.author.username %>"
      >
    </label>
    <label>
      Need to:
      <input type="text" name="suggestion.type" value="<%= suggestion.type %>" disabled>
    </label>
    <label>
      Item Name:
      <input type="text" name="item.name" value="<%= suggestion.item.name %>" disabled>
    </label>
    <label>
      Brand:
      <input type="text" name="item.brand" value="<%= suggestion.item.brand %>" disabled>
    </label>
    <label>
      Quantity:
      <input type="number" name="item.quantity" value="<%= suggestion.item.quantity %>" disabled>
    </label>
    <label>
      Unit:
      <input type="text" name="item.unit" value="<%= suggestion.item.unit %>" disabled>
    </label>
    <label>
      Utility:
      <input type="range" name="item.utility" min="1" max="10" <%= suggestion.item.utility %> disabled>
    </label>
    <label>
      Comment:
      <textarea name="comment" disabled><%= suggestion.comment %></textarea>
    </label>
    <% if (isOwner && !isStatusUpdated) { %>
      <form action="/inventories/<%= inventory._id %>/suggestions/<%= suggestion._id %>/status?_method=PATCH" method="POST">
        <div required class="radio-input">
          <label>Status: </label>
          <label><input type="radio" class="radio-btn" name="status" value="Approved"> Approved </label>
          <label><input type="radio" class="radio-btn" name="status" value="Rejected"> Rejected</label>
        </div>
        <button type="submit">Submit</button>
      </form>
    <% } else { %>         
      <label>Status: <input type="text" value="<%= suggestion.status %>" disabled></label>
    <% } %>
    <a href="/inventories/<%= inventory._id %>/suggestions"><button>Back</button></a>
  <% } %>
</main>

<%- include('../partials/footer') %>