<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
  <main>
    <h1><%= inventory.name %> Inventory</h1>
    <h2>Owner: <%= inventory.owner.username %></h2>
    

    <% if (isAuthorizedUser) { %>
      
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Brand</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>
              <% if (sortInventory) { %>
                <a href="/inventories/<%= inventory._id %>">Utility</a>
              <% } else { %>
                <a href="/inventories/<%= inventory._id %>?sort=true">Utility</a>
              <% } %>
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% sortInventory ? inventory.items.sort((a, b) => a.utility - b.utility) : inventory.items.sort((a, b) => b.utility - a.utility)%>
          <% inventory.items.forEach(item => { %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.brand%></td>
              <td><%= item.quantity %></td>
              <td><%= item.unit %></td>
              <td><%= item.utility %></td>
              <td>
                <a class="edit-button" href="/inventories/<%= inventory._id %>/items/<%= item._id %>/edit"><button>Edit</button></a>
                <% if (isOwner) { %>
                  <form class="inline" action="/inventories/<%= inventory._id %>/items/<%= item._id %>?_method=DELETE" method="POST">
                    <button class="remove-button" type="submit">X</button>
                  </form>
                <% } %>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <% if (isOwner) { %>
        <div>
          <a href="/inventories/<%= inventory._id %>/items/new"><button>Add Item</button></a>
        </div>
        <h2>
          <i class="fa-solid fa-people-roof fa-1x"></i>
          Managers
        </h2>
        <% inventory.managers.forEach(manager => { %>
          <h3>
            <form action="/inventories/<%= inventory._id %>/managers/<%= manager._id %>?_method=DELETE" method="POST">
              <i class="fa-solid fa-user-tie"></i>
              <%= manager.username %>
              <button class="remove-button" type="submit">
                <i class="fa-solid fa-user-xmark "></i>
              </button>
            </form>
          </h3>
        <% }) %>
        <form action="/inventories/<%= inventory._id %>/managers" method="post">
          <select name="managerId" >
            <% otherUsers.forEach(u => { %>
              <option value="<%= u._id %>"><%= u.username%></option>
            <% }) %>
          </select>
          <button type="submit">Add as a Manager</button>
        </form><br>
        <div>
          <form action="/inventories/<%= inventory._id %>/toggle-view?_method=PATCH" method="POST">
            <button type="submit">Make it <%= alterView %></button>
          </form>
        </div>
      <% } %>
    <% } else { %>
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Brand</th>
            <th>Quantity</th>
            <th>unit</th>
            <th>
              <% if (sortInventory) { %>
                <a href="/inventories/<%= inventory._id %>">Utility</a>
              <% } else { %>
                <a href="/inventories/<%= inventory._id %>?sort=true">Utility</a>
              <% } %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% sortInventory ? inventory.items.sort((a, b) => a.utility - b.utility) : inventory.items.sort((a, b) => b.utility - a.utility)%>
          <% inventory.items.forEach(item => { %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.brand%></td>
              <td><%= item.quantity %></td>
              <td><%= item.unit %></td>
              <td><%= item.utility %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } %>  
  </main>
<%- include('../partials/footer') %>