<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
  <main>
    <h1><%= inventory.name %> Inventory</h1>
    <h2><%= inventory.owner.username %></h2>
    <div class="card-container">
      <% inventory.items.forEach(item => { %>
          <div class="card">
            <div class="card-body">
              <h1 class="card-title inline"><%= item.name %></h1>
              <p class="inline">Brand: <%= item.brand %></p>
              <p class="inline">Quantity: <%= item.quantity %></p>
              <p class="inline">Unit: <%= item.unit %></p>
              <p class="inline">Utility: <%= item.utility %></p>
              <p></p>
            </div>
          </div>
        </a>
      <% }) %>
    </div>
  </main>
<%- include('../partials/footer') %>