<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% if (isAuthorizedUser) { %>
    <a href="/inventories/<%= inventory._id %>/suggestions/new">
      <button>Add New</button>
    </a>
    <h2>Suggestions</h2>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Item</th>
          <th>Brand</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Utility</th>
          <th>Comment</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% inventory.suggestions.forEach(suggestion => { %>
          <tr>
            <td><%= suggestion.type %></td>
            <td><%= suggestion.item.name %></td>
            <td><%= suggestion.item.brand %></td>
            <td><%= suggestion.item.quantity %></td>
            <td><%= suggestion.item.unit %></td>
            <td><%= suggestion.item.utility %></td>
            <td><%= suggestion.comment %></td>
            <td><%= suggestion.status %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <% inventory.suggestions.forEach(suggestion => { %>

    <% }) %>
  <% } %>

</main>

<%- include('../partials/footer') %>