<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="bg-blur">
  <section class="inventories">
    <div class="title">
      <h1>Inventories page for <%= selectedUser.username %></h1>
    </div>
    <div class="form-card">
      <h2>Create an Inventory</h2>
      <form action="/inventories" method="post">
        <input type="text" required name="name" placeholder="Name of Inventory">
        <button type="submit">Create</button>
      </form>
    </div>
    <div class="title">
      <h2>Owned Inventories</h2>
    </div>
    <div class="card-container">
      <% selectedUser.ownedInventories.forEach(inventory => { %>
        <div class="card card-holder">
          <div class="card-body">
            <a href="/inventories/<%= inventory._id %>">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-data"><%= inventory.name %></h2>
                  <p>(<%= inventory.privateView ? "Private" : "Public" %>)</p>
                </div>
              </div>
            </a>
          </div>
          <form action="/inventories/<%= inventory._id %>?_method=DELETE" method="POST">
            <button class="remove-button" type="submit">
              <i class="fa-solid fa-trash-can fa-2x"></i>
            </button>
          </form>
        </div>
      <% }) %>
    </div>
    <div class="title">
      <h2>Managed Inventories</h2>
    </div>
    <div class="card-container">
      <% selectedUser.managedInventories.forEach(inventory => { %>
          <a href="/inventories/<%= inventory._id %>">
            <div class="card">
              <div class="card-body">
                <h2 class="card-data"><%= inventory.name %></h2>
                <p>(<%= inventory.privateView ? "Private" : "Public" %>)</p>
              </div>
            </div>
          </a>
      <% }) %>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
